@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgba(128, 128, 128, 0.37);
    font-family: Roboto, sans-serif;
}
.section__login{
    width: 400px;
    background-color: white;
    margin: 50px auto;
    padding: 20px;
}
.section__login-content{
    border: solid 2px rgba(128, 128, 128, 0.27);
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
}
.section__login-title{
    font-family: Cookie, cursive;
    letter-spacing: 1px;
    font-size: 52px;
    color: #1E1E1E;
    margin-bottom: 50px;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.login-form-username,
.login-form-password{
    border: solid 2px rgba(128, 128, 128, 0.27);
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 8px;
    border-radius: 4px;
}
button{
    border: none;
    background-color: rgba(74, 152, 255, 0.76);
    width: 100%;
    height: 35px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.login-form__social-example{
    color: #9a9999;
    font-weight: 600;
    margin-bottom: 30px;
}
.login-form__social-login{
    display: flex;
    flex-direction: column;
}
.login-form__social-icon{
    width: 16px;
    height: 16px;
}
.login-form-facebook{
    margin-bottom: 30px;
    font-weight: 500;
    color: #244cc6;
}
.login-form_forgot-password{
    font-size: 14px;
    color: #244cc6;
}
.section__login-footer{
    border: solid 2px rgba(128, 128, 128, 0.27);
    text-align: center;
}
.login-form-crete{
    color: #1E1E1E;
    font-weight: 500;
    font-size: 15px;
}
.login-form-signup{
    color: deepskyblue;
}
