*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #D9D9D9;
    height:5vh;
}
main{
    display: flex;
}
.main__content-right{
    display: flex;
}
.block-dark{
    background-color: #A4A4A4;
    height: 85vh;
    width: 29vw;
}
.block-light{
    background-color: #C1C1C1;
    height: 85vh;
    width: 30vw;
}
.content-up{
    background-color: #7F7A7A;
    height: 50%;
    width: 41vw;
}
.content-bottom{
    background-color:#6B6161;
    height: 50%;
    width: 41vw;
}
footer{
    height: 10vh;
    background-color: #D9D9D9;
}