.wrapper{
    background-color: bisque;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    gap: 50px;
}

.block{
    background-color:red;
    width: 100px;
    height: 100px;
    transition: 0.6s;
}

.block:hover{
    background-color: gray;
    border-radius: 50px;
    transition: 0.4s;
}