@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.section__pink{
    background-color: lightpink;
}
.section__grey{
    background-color: #202123;
    color: whitesmoke;
}
.section__pink,
.section__grey{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    gap: 40px;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
}
.section__pink h2,
.section__grey h2 {
    font-weight: 450;
    font-size: 35px;
}
