@media screen and (min-width: 769px) and (max-width: 1279px) {
    .wrapper {
        width:720px;
        flex-wrap: wrap;
        gap: 24px;
    }
    .picture-container {
        width: 348px;
        margin-bottom: 16px;
    }
    .picture-container-description{
        margin-bottom: 40px;
    }
}
