@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.wrapper {
    width: 1180px;
    display: flex;
    gap: 32px;
    margin: 64px auto;
    font-family: 'Inter', sans-serif;
}

.picture-container {
    width: 271px;
}

.picture-container img {
    height: 160px;
    width: 160px;
}

.picture-container-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    vertical-align: middle;
    color: rgba(22, 21, 67, 1);
    margin-top: 20px;
    margin-bottom: 10px;
}

.picture-container-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: rgba(118, 135, 161, 1);
}