@media screen and (max-width: 768px){
    .wrapper {
        width: 343px;
        flex-wrap: wrap;
        margin: 32px 16px;
    }
    .picture-container img {
        height: 128px;
        width: 128px;
    }
    .picture-container-title {
        margin-top: 16px;
        margin-bottom: 8px;
    }
}