body{
    background-color: seagreen;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px;
}
.card{
    background-color: rgba(206, 255, 217, 0.91);
    border-radius: 5px;
    width: 200px;
    padding: 5px 10px;
}
.card h1{
    font-size: 20px;
}
.card p{
    font-size: 14px;
}
.card:hover{
    transform: scale(1.05);
}