*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #D9D9D9;
    height:5vh;
}
main{
    display: flex;
}
.main__content-right{
    background-color: #A4A4A4;
    height: 73vh;
    width: 60vw;
}
.content-up{
    background-color: #7F7A7A;
    height: 40vh;
    width: 40vw;
}
.content-bottom{
    background-color:#615050;
    height: 33vh;
    width: 40vw;
}
.hero{
    height: 10vh;
    background-color: #D9D9D9;
}
footer{
    height: 12vh;
    background-color: #AFA9A9;
}