@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    text-align: center;
    align-content: center;
}
header{
    background-color:#8D8484;
    height: 20vh;
    width: 100%;
}
main{
    display: flex;
    color:#FFFFFF;
}
.main__content-up,
.main__content-center,
.main__content-bottom {
    height: 20vh;
    width: 73vw;
}
.main__content-up{
    background-color:#776969;
}
.main__content-center{
    background-color:#643030;
}
.main__content-bottom{
    background-color:#441818;
}
.main__content-right1,
.main__content-right2{
    width: 27vw;
    height: 30vh;
}
.main__content-right1{
    background-color:#937575;
}
.main__content-right2{
    background-color:#644C4C;
}
footer{
    background-color:#BDBDBD;
    height: 20vh;
    width: 100%;
}