@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .pictures-section {
        width: 100%;
        padding: 32px 16px 32px 16px;
        gap: 40px;
    }
    .picture-container{
        width: 100%;
    }
}