@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.section__red{
    background-color: indianred;
}
.section__blue{
    background-color: lightblue;
}
.section__green{
    background-color: lightgreen;
}
.section__red,
.section__blue,
.section__green{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 50px;
    height: 100vh;
    text-align: center;
    font-size: 20px;
    font-family: Montserrat,sans-serif;
}
div h2{
    font-weight: 400;
    font-size: 40px;
}
.arrow{
    height: 60px;
}