img{
    width: 100px;
    height: 120px;
    display: block;
    margin: 200px 600px;
    animation: move 2s step-end infinite;
}
div{
    border-bottom: #441818 1px solid;
    width: 500px;
}
@keyframes move{
    20%{
        transform: rotate(40deg);
        translate: 60px 0;
    }
    40%{
        transform: rotate(0deg);
        translate: 100px 0;
    }
    60%{
        transform: rotate(40deg);
        translate: 140px 0;
    }
    80%{
        transform: rotate(0deg);
        translate: 180px 0;
    }
    100%{
        transform: rotate(40deg);
        translate: 200px 0;
    }
}