.loader{
    width: 150px;
    height: 150px;
    margin: 200px auto;
    border:  30px solid rgba(253, 123, 245, 0.59);
    border-radius: 50%;
    animation: pulse 2s infinite ease-in-out;
}
@keyframes pulse {
    0%{
        border-bottom: 30px solid rgba(253, 123, 245, 0.0);
        transform: rotate(50deg);
    }
    50%{
        border-bottom: 30px solid rgba(253, 123, 245, 0.13);
        transform: rotate(150deg);

    }
    70%{
        border-bottom: 30px solid rgba(253, 123, 245, 0.23);
        transform: rotate(200deg);
    }
    80%{
        border-bottom: 30px solid rgba(253, 123, 245, 0.45);
        transform: rotate(250deg);
    }
    100%{
        border-bottom: 30px solid rgba(253, 123, 245, 0.55);
        transform: rotate(360deg);
    }
}