*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-weight: 400;
}
.cards-wrapper{
    display: flex;
    justify-content: center;
    gap: 132px;
    margin-top: 100px;
 }
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 321px;
    height: 491px;
    background-color: rgba(217, 217, 217, 0.3);
    border: 4px solid rgba(85, 76, 76, 1);
    text-align: center;
    position: relative;
}
.card__image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    border: 4px solid rgba(85, 76, 76, 1);
    position: absolute;
    top: -50px;
}
.card__image img{
    display: block;
    margin: 19px auto;
    width: 60px;
    height: 60px;
}
h3{
    color: rgba(0, 0, 0, 1);
    font-size: 40px;
    margin-bottom: 4px;
}
p{
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: 400;
    padding: 0 32px ;
    width: 257px;
}
.green-card{
    border: 4px solid rgba(101, 133, 110, 1);
}
