@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.widgets{
    width: 1200px;
    height: 300px;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section--compare{
    display: flex;
    height: 300px;
    gap: 20px;
}
.section--compare h3{
    background-color: blue;
    width: 387px;
}
.contact {
    width: 1200px;
    height: 80vh;
    background-color: darkblue;
}
.widgets,
.section--compare h3,
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
    color: whitesmoke;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}
div h2{
    font-weight: 400;
}