@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,200;1,14..32,200&display=swap');
body{
    background-color: cadetblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', cursive;
}
.container{
    background-color: white;
    width: 500px;
    height: 350px;
    border-radius: 10px;
    margin: 150px auto;
}
.container-content{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 60px;
}
.container-title{
    height: 80px;
    background-color: rgba(95, 158, 160, 0.18);
    text-align: center;
    align-content: center;
    color: #1E1E1E;
    font-size: 28px;
}
input[type="text"],
input[type="password"] {
    width: 370px;
    height: 30px;
    margin-bottom: 20px;
}
input[type="checkbox"] {
    width: 15px;
    height: 15px;
    color: #1E1E1E;
}
button{
    background-color: rgba(95, 158, 160, 0.18);
    width: 100px;
    height: 25px;
    border-radius: 10px;
    border: solid 1px rgba(4, 21, 23, 0.99);
    cursor: pointer;
}
.container-button{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 15px;
}